<!-- Footer w/ Copyright, Lights, Contact -->
<footer id="footer">
    <div class="footer-container">
        <ul class="copyright">
            <li>&copy; <span>2021</span> robert kang.</li>
            <li>
                <a class="switch-theme" id="light-switch" href=#>lights on.</a>
            </li>
            <li>
                <a href="https://github.com/rkang246" target="_blank">github.</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/robert-kang-54955a185/" target="_blank">linkedin.</a>
            </li>
            <li>
                <a href="files/Kang_Robert.pdf" target="_blank">resume.</a>
            </li>
            <li>
                <a href="mailto:rqkang@umich.edu">rqkang@umich.edu.</a>
            </li>
            <li>
                <a href="photo-gallery.html"><b>photos.</b></a>
            </li>
            <li>
                <a href="bookshelf.html"><b>bookshelf.</b></a>
            </li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/javascript/main.js"></script>