<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Your friendly neighborhood CS student.">

<!-- Favicons -->
<link rel="shortcut icon" href="static/images/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="static/images/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="static/images/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="static/images/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16.png">
<link rel="apple-touch-icon" href="static/images/favicon/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/images/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/images/favicon/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="static/images/favicon/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="static/images/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="static/images/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="static/images/favicon/favicon-144.png">
<meta name="msapplication-config" content="static/images/favicon/browserconfig.xml">
<!-- CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L6BMY9J217"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-L6BMY9J217');
</script>