body {
  font-family: 'Montserrat', sans-serif;

  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

  color: #787878;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 13px;
  line-height: 12px;
}

h3 {
  font-size: 65px;
  text-transform: uppercase;
  color: white;
  line-height: 80%
}

a {
  color: inherit;
}

a:hover {
  color: #FF2400; /*TOCHANGE*/
  text-decoration: none;
}

h2 a:hover {
  color: inherit;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
}


.heading {
  margin-top: 64px;
  margin-bottom: 32px;
}

.links {
  border-left: 5px solid #FF2400;/*TOCHANGE*/
  padding-left: 20px;
}

.toggled-content {
  color: white;
}
