:root {
  --accent-color: #d50000;
  --inactive-color: #FFF;
  --body-color: #6D8891;
}

body {
  font-family: 'Montserrat', sans-serif;

  color: var(--body-color);

  /*background color-related*/
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43);
  background: linear-gradient(to right, #0f2027, #203a43);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 13px;
  line-height: 12px;
}

.link {
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 200;
  color: var(--inactive-color);
  line-height: 92%
}

.link-content {
  color: inherit;
}

a {
  color: inherit;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

h2 a:hover {
  color: inherit;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
}

.heading {
  margin-top: 64px;
  margin-bottom: 32px;
}

/*
listgroup bootstrap override
*/

.list-group-item-action {
  width: 100%;
  color: var(--inactive-color);
  text-align: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: var(--accent-color);
  text-decoration: none;
  background-color:inherit;
}

.list-group-item-action:active {
  color: var(--accent-color);
  background-color: inherit;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: inherit;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  padding-left: 20px;
}

.list-group-item.active {
  z-index: 2;
  background-color: inherit;
  border-left: none;
}

#list-tab {
    border-left: 5px solid var(--accent-color);
