<div class="tab-pane fade" id="list-first" role="tabpanel" aria-labelledby="list-first-list">
    <h3>Bio</h3>
    <h1>Hey, I'm Robert! </h1>
    <p>
        I'm a third-year student studying computer science. Despite my birthplace of Columbus, Ohio, I'm attending the <strong><a href="https://umich.edu/" target="_blank">University of Michigan</a></strong> (although I grew up in
        Albany, New York).
        <br /><br /> I'm currently an Instructional Aide for <strong><a href="https://ece.engin.umich.edu/academics/course-information/course-descriptions/eecs-203/" target=_blank>EECS 203</a></strong>, an introductory discrete math
        course at the University of Michigan. In addition, I'm a Research Assistant at <strong><a href="http://comp.social.gatech.edu/" target="_blank">comp.social</a></strong>, a lab that analyzes social media systems under Professor
        Eric Gilbert, and I'm also a Project Manager at <strong><a href="http://atlasdigital.org" target="_blank">Atlas Digital</a></strong>, a student-run tech consulting group that does pro-bono work for local businesses and non-profits
        alike. This past summer, I worked as a Software Development Engineer Intern at <strong><a href="https://www.amazon.com/" target="_blank">Amazon</a></strong> on an Alexa Shopping team.
        <!--This past summer, I worked as a Software Engineering Intern at <strong><a href="https://www.3m.com/" target="_blank">3M</a></strong>, and, starting this fall, I'll be joining the <strong><a href="https://ece.engin.umich.edu/academics/course-information/course-descriptions/eecs-203/" target=_blank>EECS 203</a></strong>-->
        <br /><br /> I can hold fluent conversations in English and Chinese, and if you give me a few seconds to think, I might be able to ask for directions to the nearest hotel in Russian.
    </p>
</div>