<div class="tab-pane fade" id="list-fourth" role="tabpanel" aria-labelledby="list-fourth-list">
    <h3>Coursework</h3>
    <div class="entry-header">
        <h1>University of Michigan<span>Ann Arbor, MI</span></h1>
        <h3>Computer Science, B.S.E.<span>2019-2023</span></h3>
    </div>
    <ul>
        <li><strong>EECS 482</strong> | Intro to Operating Systems (+ Advanced OS Projects)</li>
        <li><strong>EECS 370</strong> | Intro to Computer Organization</li>
        <li><strong>EECS 281</strong> | Data Structures and Algorithms</li>
        <li><strong>EECS 280</strong> | Intro Programming and Data Structures</li>
        <li><strong>EECS 203</strong> | Discrete Mathematics</li>
        <li><strong>EECS 201</strong> | Computer Science Pragmatics</li>
        <li><strong>ENGR 100</strong> | Microprocessors and Toys</li>
        <li><strong>MATH 217</strong> | Linear Algebra</li>
        <li><strong>MATH 215</strong> | Multivariable Calculus</li>
    </ul>
    <div class="skill-container">
        <div class="skill">C++</div>
        <div class="skill">Python</div>
        <div class="skill">Java</div>
        <div class="skill">SQL</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">Javascript</div>
        <div class="skill">Bash</div>
        <div class="skill">Git</div>
        <div class="skill">Assembly</div>
    </div>
    <p>...with more to come!</p>
</div>