  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Zmt52We.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">outer sunset</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/yRil80m.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">twin peaks</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/72Pcwn8.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">twin peaks</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/nG92Dhh.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">ocean beach</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/zy0SUpx.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">trail to delicate arch</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          arches national park, utah
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/PLmPsRp.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">northwest corner of the forbidden city (故宫)</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/CcG4OaW.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">castro street</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          mountain view, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Q7C4XNg.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">pedestrian underpass</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/R7O2T8j.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">mori point</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          pacifica, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/xYlicTC.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">china world trade center</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/GUjGNw3.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">crowne palace sun palace</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/D4QGgKy.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bytedance</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/DpesiPQ.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">shoreline amphitheatre</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          mountain view, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/2yGa1hT.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">somewhere along the highway one</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          big sur, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/JYVELVY.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">somewhere along highway one</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          big sur, california
        </span>
      </span>
    </label>
  </div>