  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/9ClA0GJ.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">chinatown</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/ZT4XVXf.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">tokyo tower</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          minato/tokyo, japan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/90s6kbC.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">beijing national stadium (鸟巢)</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          beijing, china
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/10bCTNT.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">in a backyard north of the panhandle</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <video autoplay loop muted playsinline>
        <source src="https://i.imgur.com/FFIsoAd.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <span class="caption">
        <span class="title">sammy virji @ cow palace</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          daly city, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/5uZb3fl.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">la jolla cove</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san diego, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/oDCJNeV.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">national art centre</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          roppongi/tokyo, japan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/wcgxk6f.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">somewhere along highway one</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          big sur, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/lwRrwyA.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">teamlab planets</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          toyosu/tokyo, japan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/jjfiKkq.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">sfmoma</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/ExSost8.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">hakone-jinja shrine</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          hakone, japan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/cc1Lqy5.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">raohe night market</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/o8tigt2.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">fisherman&#39;s wharf</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/d2LxPWP.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">nezu-jinja shrine</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          tokyo, japan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/FVs1b3e.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">pike place market</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          seattle, washington
        </span>
      </span>
    </label>
  </div>