  <div class="grid__item">
    <img src="https://i.imgur.com/GUjGNw3.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/D4QGgKy.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/DpesiPQ.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/2yGa1hT.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/JYVELVY.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/GQLycsi.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/rqn4dbh.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <video autoplay loop muted playsinline>
      <source src="https://i.imgur.com/SScQX8p.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/8VI1Wpt.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/hY2BryV.jpeg" loading="lazy" alt="">
  </div>