  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/v7OVrDr.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">the world&#39;s greatest diner</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          dennys, somewhere in california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/5g0gdC9.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bottom shelf wine</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sequoia national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/NWLFw0t.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">scenic byway</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          kings canyon, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Jz4XEji.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">5am dawn</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          reedley, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/45Uk74e.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/zOUOExx.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/I8xd0eo.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">gundlach bundschu</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sonoma, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/aSlSUBu.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">1015 folsom</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/468OzJT.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">downtown</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          walnut creek, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/40SM7fg.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">polkcha</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/4uw1Tgh.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bytedance</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Ve973N7.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">the strip</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/BWBhpSX.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">caesars palace</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/t5Ybs8L.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">the strip</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/hcE95zY.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">redwoods grove</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          redwoods national park, california
        </span>
      </span>
    </label>
  </div>