  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/5uDnMkV.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">swamp tour</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/otvFvKx.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">poker cat</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/tL4OSLh.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">russian hill</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/cj3gmTx.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">russian hill</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/vDvDPqg.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">russian hill</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/pgnZGWJ.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">ina coolbrith park</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/lYpKto1.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">alcatraz</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/wSnu4U5.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">castro street</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          mountain view, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/NwqHx07.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">near mission dolores park</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/eQCtUWQ.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">near mission dolores park</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/TL0fXmc.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">fern canyon</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          redwoods national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/gsZwciT.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">townhouse</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          fremont, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/PkfdoLI.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">roof</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sunnyvale, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/XIkvvue.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">crescent meadow</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sequoia national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/XEhsPOy.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">tree</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sequoia national park, california
        </span>
      </span>
    </label>
  </div>