  <div class="grid__item">
    <img src="https://i.imgur.com/GQLycsi.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/rqn4dbh.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <video autoplay loop muted playsinline>
      <source src="https://i.imgur.com/SScQX8p.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/8VI1Wpt.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/hY2BryV.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/6ifxHmd.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/5YOwauI.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/Qr7Hc6q.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/oze7fEI.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/oaV3nFr.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/HYR8e3F.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/Nqxaeqw.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/Xzmp92n.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/0YkJerM.jpeg" loading="lazy" alt="">
  </div>
  <div class="grid__item">
    <img src="https://i.imgur.com/6GSGZsK.jpeg" loading="lazy" alt="">
  </div>