  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/LdlDzA3.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">russian hill</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/pRKYptX.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">california ave</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          palo alto, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/2F8ek5z.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">computer science history museum</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          mountain view, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/npAQ2Y5.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">different cat</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Hf3VeYS.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">6ten courtyards</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sunnyvale, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/PO0zgjp.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">gundlach bundschu</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sonoma, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Izn2M1O.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">gundlach bundschu</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sonoma, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/0q6dBMq.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">gundlach bundschu</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sonoma, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/1Hf2BIC.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">french quarter</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/1EDX5Y9.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">french quarter</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/r6WjxRM.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">french quarter</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/PWUaQ1W.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">mission bay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/YVLUylI.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">national world war ii museum</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/d2icnje.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">masonic cemetery no. 1</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/oKVJHwP.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">charity hospital cemetery</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new orleans, louisiana
        </span>
      </span>
    </label>
  </div>