  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Y2TiIlJ.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">ferns under the grate</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          cupertino, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/VwFcVUF.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">best western</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          arcata, california
        </span>
      </span>
    </label>
  </div>