  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/nIa0HTj.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">delicate arch</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          arches national park, utah
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/XxfQS8O.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">zumwalt meadow</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          kings canyon national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/kTPb4e8.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">the mission</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/u8KLrUM.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">old domino refinery</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          brooklyn, new york
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/cXa3xcN.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">don&#39;t remember which bridge</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          new york, new york
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/RfvyNMV.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">williamsburg</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          brooklyn, new york
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/QMoCwUy.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">heavenly</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          lake tahoe, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/5VFaN1q.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bytedance whiteboard reflection</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/AbIT6Xl.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">lands&#39; end</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/9N0UnZO.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">lands&#39; end</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/IDLGVJv.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">the greatest mart on earth</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sunnyvale, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/j6qszZk.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">trillium falls trail</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          redwoods national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/VKoL8Ds.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bytedance</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/R5KQTDq.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">element</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/wCI0nde.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">near mission dolores park</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>