  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/GQLycsi.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">chinatown</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/rqn4dbh.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">transamerica pyramid</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san francisco, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <video autoplay loop muted playsinline>
        <source src="https://i.imgur.com/SScQX8p.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <span class="caption">
        <span class="title">same cat</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          sunnyvale, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/8VI1Wpt.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">大安区</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/hY2BryV.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">magpie and the tiger</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          santa clara, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/6ifxHmd.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">eucalyptus grove</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          berkeley, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/5YOwauI.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">along highway one</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          big sur, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Qr7Hc6q.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">clock tower</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          berkeley, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/oze7fEI.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">liao ning night market</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/oaV3nFr.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">taipei 101</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/HYR8e3F.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">one of the many malls</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Nqxaeqw.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">大安区</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Xzmp92n.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">大安区</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/0YkJerM.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">jiufen</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          taipei, taiwan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/6GSGZsK.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">fremont trail lookout</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          mount rainier, washington
        </span>
      </span>
    </label>
  </div>