  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <video autoplay loop muted playsinline>
        <source src="https://i.imgur.com/6uV00TP.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <span class="caption">
        <span class="title">greenwood block</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          ann arbor, michigan
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/9KnTpa5.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/CdN0jzl.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">bytedance</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          san jose, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/0xDZ4JV.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">golden razz berry</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          cupertino, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/Swz2jtY.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">grove of titans</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          redwood national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/yxExHLj.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/zLT4yA1.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/vsLkTsF.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">a sky full of stars</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/nwUtRju.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">mojo pizza</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          orick, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/l8vcCHc.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">5am dawn</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          reedley, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/vFrYn1U.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">fern canyon</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          redwoods national park, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/LEWprKy.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">las vegas motor speedway</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <img src="https://i.imgur.com/FO80j7g.jpeg" loading="lazy" alt="">
      <span class="caption">
        <span class="title">las vegas motor speedway</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <video autoplay loop muted playsinline>
        <source src="https://i.imgur.com/hXG8Zms.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <span class="caption">
        <span class="title">coldplay</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          stanford, california
        </span>
      </span>
    </label>
  </div>
  <div class="grid__item">
    <label class="click-toggle">
      <input type="checkbox" hidden>
      <video autoplay loop muted playsinline>
        <source src="https://i.imgur.com/FdKUJXm.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <span class="caption">
        <span class="title">las vegas motor speedway</span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          las vegas, nevada
        </span>
      </span>
    </label>
  </div>